.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.contactWrapper {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 15px;
}

.contactBox {
  display: flex;
  flex-direction: column;
  border-top: 0.4px solid var(--secondary-bg-color);
}

.position {
  font-weight: 500;
  color: var(--secondary-text-color);
}

.button {
  position: absolute;

  top: 5px;
  right: 5px;

  padding: 0;
  border: none;
  background-color: transparent;
}

.button:hover svg,
.button:focus svg {
  fill: var(--accent-bg-color);
}
