.button {
  height: 100%;
  padding: 5px;

  border-radius: 7px;
  border: none;
}

.primary {
  color: var(--primary-text-color);
  border: 2px solid var(--secondary-bg-color);

  background-color: var(--primary-bg-color);
}

.primary:hover,
.primary:focus {
  background-color: var(--secondary-bg-color);
}

.primary:active {
  color: var(--accent-bg-color);
}

.accent {
  color: var(--accent-text-color);

  border: 2px solid var(--accent-border-color);

  background-color: var(--accent-bg-color);
}

.accent:hover,
.accent:focus {
  border-color: var(--accent-bg-color);
  background-color: var(--accent-border-color);
}

.accent:active {
  color: var(--primary-text-color);
}

.maxSize {
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
